.article-body {


font-family: 'cairo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 1,25rem;
line-height: 2,31rem;

color: #999999;

// posição p

/*  position: absolute;
height: 9,25rem;
left: 0;
right: 0;
top: 
*/

//posição do p2
/*position: absolute;
height: 208px;
left: 0px;
right: 0px;
top: 361px;
*/
}

.main-header h1, main-header h2{

//
font-family: 'Spectral';
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 52px;
display: flex;
align-items: center;
text-transform: uppercase;


// h header ---------
/*
color: #636363;
position: absolute;
height: 37px;
left: 0px;
right: 0px;
top: 310px;
*/


// h2 -----------------
/*
position: absolute;
height: 37px;
left: 0px;
right: 0px;
top: 310px;

font-family: Spectral;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 37px;

display: flex;
align-items: center;
text-transform: uppercase;

*/
}