.header-navbar-items {
    display: flex;
    flex-direction: column;
    background: $navbar-color;
}
.header-navbar-items li{
    text-align: center;
    border-bottom: 1px solid $navbar-border-color;
    
}

.header-navbar-items li a {
    display: inline-block;
    color: $navbar-item-color;
    text-align: center;
    font-size: 1rem;
    font-family: 'Alegreya', times Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    padding: 1rem 11px;
}
.header-navbar-items > li > a:hover {
    background-color: $navbar-background-color;
}

.header-navbar-dropdown {
    display: flex;
    flex-direction: column;
    background-color:$navbar-background-color;
}

li:hover > .header-navbar-dropdown  {
    display: flex;
}

.header-navbar-dropdown a:hover {
    background-color: $navbar-background_hover-color;
}


@media (min-width: 765px){
    .header-navbar > ul{
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header-navbar-items li{
        border: none;
    }

    .header-navbar-dropdown {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color:$navbar-background-color;
        width: 13.7rem;
    }

}

