.header-navbar ul{
    display: flex;
    flex-direction: column;
    background: $navbar-color;
}
.header-navbar-items li{
    text-align: center;
    border-bottom: 1px solid white;
    padding: 1rem 11px;
}

.header-navbar-items li a {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Spectral', cursive;
}

.header-navbar-dropdown li{
    display: none;
}




