 /** layout-principal **/
$navbar-color: #205432;
$linha-do-tempo-font-color: #777777;
/** index **/
$index_text-color: #999999 ; 
$index_title-color: #636363;
/** header article **/
$header-article_title-color: #2C2C2C;
$header-article_text-color: #777777;
$footer-background-color: #1E1E1E;
/** header interno **/
$header-interno_title-color: #333333;
$header-interno_text-color: #777777;
/** menu layout complexo **/
$li-menu_backgroud-color: #ffffff;
$li-menu_border-color: #cccccc;
$li-target_border-color: #56705f;
$li-target_text-color: #56705f;
$li-text-color: #999999 ; 