 /** layout-principal **/
$navbar-color: #205432;
$linha-do-tempo-font-color: #777777;
/** index **/
$index_text-color: #999999 ; 
$index_title-color: #636363;
/** header article **/
$header-article_title-color: #2C2C2C;
$header-article_text-color: #777777;
