* {
  box-sizing: border-box;
}
/********************/
/***** gallery ******/
/********************/
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  border: 1px solid #ccc;
  margin-right: 20px;
  margin-bottom: 20px;
}

.gallery-item img {
  cursor: pointer;
}

.gallery-filter {
  list-style: none;
  display: flex;
  padding: 0;
}

.gallery-filter li {
  margin-right: 10px;
}

.gallery-filter li a {
  text-decoration: none;
}


/*******************/
/****** Modal ******/
/*******************/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 50px auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  min-height: 80%;
  /* Could be more or less, depending on screen size */
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal img {
  max-width: 100%;
  height: auto;
}