nav {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
  border-left: 1px solid #56705F;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: inherit;
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.active, li:hover {
  position: relative;
  border: 1px solid #56705F;
  color: #56705F;
}



.active::before, li:hover::before  {
  position: absolute;
  content: " ";
  width: 16px;
  height: 16px;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-image: url('triangulo.svg');
  background-repeat: no-repeat;
  
}



@media (min-width: 900px) {
    ul {
        flex-direction: row;
        border-left: none;
        padding-left: 0px;
        padding-bottom: 18px;
        border-bottom: 1px solid #56705F;
  
    }

    li {
        margin-bottom: 0px;
        margin-right: 20px;
        color: #999999;
        border: none;
      }
    .active {
        border: none;
    }  

    .active::before, li:hover::before  {
        left: 50%;
        top: 100%;
        margin-top: 11px;
        transform: translateY(-50%) rotate(-90deg);
        z-index: 2;
        background-image: url('triangulo.svg');
        background-repeat: no-repeat;
        
      }
      
}

@media (min-width: 1200px) {
   
}

.triangulo {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
  
}

h1::before {
  display: inline-block;
  content: " ";
  width: 20px;
  height: 2px;
  margin-right: 20px;
  background-color: red;
  
    
}